<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <!-- adding a nav -->
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <ul>
    <% restaurant.menu.forEach((element,index) => { %>
    <li><a href="/<%= index %>"><ol><strong>Name:</strong><%= element.name %></a></ol>
      <ol><strong>Price:</strong><%=element.price %></ol>
      <ol><strong>Rating:</strong><%=element.rating %></ol>
      <ol><strong>Details:</strong><%=element.details %></ol></li>
      <% }) %>
  </ul>
</body>
</html>
